Repository engineers-hub-ltd-in-house-project/markmail: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-format, root-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Rust フォーマット
    rust-fmt:
      glob: 'backend/**/*.rs'
      run: cd backend && cargo fmt
      stage_fixed: true

    # Rust リンター
    rust-clippy:
      glob: 'backend/**/*.rs'
      run: cd backend && cargo clippy -- -D warnings -A dead_code

    # フロントエンド フォーマット
    frontend-format:
      glob: 'frontend/**/*.{js,ts,svelte,json,css,md}'
      run: npx --yes prettier --write {staged_files}
      stage_fixed: true

    # フロントエンド リンター（警告のみ）
    frontend-lint:
      glob: 'frontend/**/*.{js,ts,svelte}'
      exclude: 'frontend/.svelte-kit/**/*'
      run: npx eslint --config frontend/eslint.config.js --max-warnings 100 {staged_files} || true

    # ルートレベルファイル フォーマット
    root-format:
      glob: '*.{js,ts,json,md,yaml,yml}'
      run: npx --yes prettier --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    # プッシュ前のテスト実行（一時的に無効化 - 後日修正予定）
    # backend-test:
    #   run: cd backend && cargo test

    # frontend-test:
    #   run: cd frontend && npm run test -- --run

commit-msg:
  commands:
    # コミットメッセージの検証（オプション）
    commitlint:
      run: echo "Commit message validation passed"

fix: バックエンドビルドでもimagedefinitions.jsonを正しいパスに生成
  infrastructure/lib/stacks/cicd-stack.ts
Due: root-format

feat: LPページをTypeForm/Squarespaceスタイルにリデザイン
  README.md
  ROADMAP.md
  frontend/src/routes/lp/+page.svelte
Due: frontend-format, root-format

feat: フォーム機能のバックエンド実装とCLAUDE.md追加
  CLAUDE.md
  backend/migrations/20250608140000_create_forms_tables.sql
  backend/src/api/forms.rs
  backend/src/api/mod.rs
  backend/src/database/forms.rs
  backend/src/database/mod.rs
  backend/src/models/form.rs
  backend/src/models/mod.rs
  backend/src/tests/api/forms.rs
  backend/src/tests/api/mod.rs
Due: rust-fmt, rust-clippy, root-format

fix: フォームテストの一時的な削除（axum対応のテストに書き換え予定）
  backend/src/tests/api/mod.rs
Due: rust-fmt, rust-clippy

feat: axum対応のフォームテストを実装
  CLAUDE.md
  backend/migrations/20250608100100_create_sequences_tables.sql
  backend/src/api/forms.rs
  backend/src/api/sequences.rs
  backend/src/database/sequences.rs
  backend/src/models/sequence.rs
  backend/src/tests/api/forms.rs
  backend/src/tests/api/mod.rs
  frontend/src/lib/services/formService.ts
  frontend/src/lib/types/form.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/forms/+page.svelte
  frontend/src/routes/forms/[id]/edit/+page.svelte
  frontend/src/routes/forms/new/+page.svelte
Due: rust-fmt, rust-clippy, frontend-format, root-format

fix: axumパターンを使用するようにテンプレートテストを修正
  backend/src/tests/api/templates.rs
Due: rust-fmt, rust-clippy

feat: シーケンス機能の完全実装とaxumパターンでのテスト追加
  backend/src/api/mod.rs
  backend/src/api/sequences.rs
  backend/src/database/mod.rs
  backend/src/database/sequences.rs
  backend/src/tests/api/mod.rs
  backend/src/tests/api/sequences.rs
Due: rust-fmt, rust-clippy

fix: SQLx オフラインキャッシュの更新
  backend/.sqlx/query-13702e5bff91fdc196b6bb49812c071c03410a715d1d1eade948fb03b30c5c20.json
  backend/.sqlx/query-20e4f7aba9c4cbf690658c2e913b913051ddb58620e2fc022fb5aae5c410ce01.json
  backend/.sqlx/query-3998995cdfa5b06e2997f648aaff8a5e9820d3bb93a8549db5ac1888f1d17e54.json
  backend/.sqlx/query-3a29783cc2d87706213df584aebae40c523c3f43e79dff1156f454bcca9902f3.json
  backend/.sqlx/query-4b781fc0de91262d57ab43e68ccb885911cb30eb3e60b55fa5cc98f8c20cf815.json
  backend/.sqlx/query-4c669a4f72d310b9275d7a36d94761f1043777b6a1de14359dda980bf5f0c70e.json
  backend/.sqlx/query-5cad638e4da0f5d335fe22844cbb9a3c7b6f2a5d5b0658e3701b8c8864b9e626.json
  backend/.sqlx/query-62e50b855efc0c7f670c05d3b81af2674a05a70f8c45b53872c93b2d23422624.json
  backend/.sqlx/query-66a9c64fc3852fc6a8ebce2bd12bcc05d392255cb04d8869c40420e4d7c69f3c.json
  backend/.sqlx/query-6b9b7cb9797daab2faffe6f0628ef942604ba5186a82dac2e2f4b8c26e90a012.json
  backend/.sqlx/query-718f2e655388330edfc74c522865d894352d1a647cbf1cb89917abe3b99f5a48.json
  backend/.sqlx/query-7945acdbb67b2785c68c3de6fed19b8beac988ede0a871f8fe4ff351659f2158.json
  backend/.sqlx/query-7dbcd070d76e31f85775f884cac59cbb75f9f765c96bd34eb8fe1234ab982b1b.json
  backend/.sqlx/query-877a097fa4f5ba8d0c0b53c8c9251c2c773b33036baf5768ff00148546114f49.json
  backend/.sqlx/query-8b4c0eef00b62d88525586242ca9ff3e570238ddfd7a5f7f685cffa43eb2ee39.json
  backend/.sqlx/query-8d36a33020b433bad27bd6b706d1d1f0377ee3354c6cb37b391acdfc677c9fa4.json
  backend/.sqlx/query-972622a3c072a40d2d1e313ba89001ecbb9042969f97b5ba902d7361fb98c0d3.json
  backend/.sqlx/query-98710f1fd95381fb9cbb3be89f88051eec4656a0386219e6d1b742968379b5e0.json
  backend/.sqlx/query-b26944c633ec8284a575c9cf9a4f212a9e9839ba861f34aaf32d4310ea2c3d44.json
  backend/.sqlx/query-db84c424b1ed1b5d1d5a6b79fc077591c40f4570f97caf00b0fcb1d41161f7e1.json
  backend/.sqlx/query-dd541359ef8fc7628369e1aa3fa2763ed68d9c177cfe34a78c7c5c8f7f1a8bee.json
  backend/.sqlx/query-eeb1606f50f739e1706230499c9a7179a3e85799ee150fe9ccff61921a9b7a18.json
  backend/.sqlx/query-f58660fa80bb4cceda63e68947cdd0c31fc0e9ee6da1a8e5658cba26e0f981e7.json
  backend/.sqlx/query-fd38ac0d3bdf12772c0670862f04fe5e1c5a707379cf478b74673195565a3114.json
Due: root-format

README の更新
  README.md
Due: root-format

feat: 公開フォーム表示機能とフォームサービステストを実装
  frontend/src/routes/forms/[id]/public/+page.svelte
  frontend/src/tests/services/formService.test.ts
Due: frontend-format, root-format

fix: フロントエンドDockerfileのビルド出力ディレクトリを修正
  frontend/Dockerfile
  frontend/nginx.conf
Due: none

fix: フロントエンドビルドエラーを修正（SPAモードに変更）
  frontend/src/routes/+layout.js
  frontend/svelte.config.js
Due: frontend-format, root-format

docs: CLAUDE.mdを日本語版に更新
  CLAUDE.md
Due: root-format

feat: シーケンス機能のフロントエンド実装
  CLAUDE.md
  PROGRESS.md
  REQUIREMENTS.md
  frontend/src/lib/services/sequenceService.ts
  frontend/src/lib/types/sequence.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/sequences/+page.svelte
  frontend/src/routes/sequences/[id]/+page.svelte
  frontend/src/routes/sequences/[id]/edit/+page.svelte
  frontend/src/routes/sequences/new/+page.svelte
Due: frontend-format, root-format

fix: シーケンスAPIのURL重複問題を修正
  .vscode/settings.json
  frontend/eslint.config.js
  frontend/src/lib/services/sequenceService.ts
Due: frontend-format, root-format

docs: 新規サービス実装時の必須チェックリストを追加
  CLAUDE.md
Due: root-format

docs: 過信を招く表現の使用禁止を追加
  CLAUDE.md
Due: root-format

feat: シーケンス自動化システムの完全実装
  .vscode/settings.json
  CLAUDE.md
  PROGRESS.md
  README.md
  backend/src/api/forms.rs
  backend/src/api/subscribers.rs
  backend/src/database/sequences.rs
  backend/src/database/subscribers.rs
  backend/src/main.rs
  backend/src/models/sequence.rs
  backend/src/services/mod.rs
  backend/src/services/sequence_service.rs
  backend/src/workers/mod.rs
  backend/src/workers/sequence_worker.rs
Due: rust-fmt, rust-clippy, root-format

fix: テスト用のPgPool作成方法を修正
  backend/src/workers/sequence_worker.rs
Due: rust-fmt, rust-clippy

chore: SQLxオフラインキャッシュを更新
  backend/.sqlx/query-31470fe5196641fefffcb8eff15ac37f64ffcd0cf3c21b66b73bbca48dc0642b.json
  backend/.sqlx/query-6ce5a3a3c0bd55595788465afb425e08b687b7db53ff30aca20a56d44cc3f2e6.json
  backend/.sqlx/query-7231dab58c3194cd049f2404e1d80428a38eed454897bb6a0df9b6b853a30d4b.json
  backend/.sqlx/query-d33cd92f013633a723c43b524d8b9bd176b0c1d6e5dea8a0fe3cf53f9ed57d28.json
  backend/.sqlx/query-d6c3409be1d988d248ae121a6ce50c6f972a9606915f95d7616eed7e167e2aa1.json
  backend/.sqlx/query-ec402d3151f260768381db2857c6a6ee20a444e891cfd10e99b00f4b1450e2ce.json
  backend/.sqlx/query-fcf457944b583e69e412d5fbdf0ea4c9c6df88e960f8a3ce4da181f5227d1c80.json
Due: root-format

fix: sequence_step_logsのexecuted_atカラムの無限メール送信エラーを修正
  backend/migrations/20250608100100_create_sequences_tables.sql
  backend/migrations/20250613112214_fix_sequence_step_logs_executed_at.sql
Due: none

docs: CLAUDE.mdを日英バイリンガル形式に更新し、エラー対処法を強化
  CLAUDE.md
Due: root-format

fix: AWS環境での無限メール送信バグとマイグレーション不一致を解決
  CLAUDE.md
  backend/build.rs
  infrastructure/bin/infrastructure.ts
  infrastructure/lib/stacks/bastion-stack.ts
Due: root-format

docs: E2Eテスト戦略の追加と開発ロードマップの更新
  README.md
  ROADMAP.md
Due: root-format

fix: シーケンスステップ削除時の204レスポンス処理エラーを修正
  frontend/src/lib/services/sequenceService.ts
Due: frontend-format, root-format

feat: シーケンスのactivate/pauseエンドポイントを実装
  backend/src/api/mod.rs
  backend/src/api/sequences.rs
  backend/src/database/sequences.rs
  backend/src/tests/api/sequences.rs
Due: rust-fmt, rust-clippy

fix: 購読者詳細・編集ページのバグを修正
  frontend/src/lib/services/subscriberService.ts
  frontend/src/lib/types/subscriber.ts
  frontend/src/routes/subscribers/[id]/+page.svelte
  frontend/src/routes/subscribers/[id]/edit/+page.svelte
Due: frontend-format, root-format

fix: キャンペーン管理の表示バグとプレビューエラーを修正
  backend/src/services/campaign_service.rs
  frontend/src/lib/types/campaign.ts
  frontend/src/routes/campaigns/+page.svelte
  frontend/src/routes/campaigns/[id]/+page.svelte
  lefthook.yml
Due: rust-fmt, rust-clippy, frontend-format, root-format

fix: SQLXオフラインキャッシュを更新してビルドエラーを修正
  backend/.sqlx/query-86c5dc48185a02a1ca730221ccb3d052b6a138cd411ff5ab78cdfca8a3dd72f3.json
Due: root-format

fix: SQLXオフラインキャッシュを更新し、デザイン修正を追加
  backend/src/api/email.rs
  frontend/src/app.css
  frontend/src/routes/+layout.svelte
  frontend/src/routes/auth/login/+page.svelte
  frontend/src/routes/auth/register/+page.svelte
  frontend/src/routes/campaigns/+page.svelte
  frontend/src/routes/forms/+page.svelte
  frontend/src/routes/lp/+page.svelte
  frontend/src/routes/sequences/+page.svelte
  frontend/src/routes/subscribers/+page.svelte
  frontend/src/routes/templates/+page.svelte
Due: rust-fmt, rust-clippy, frontend-format

fix: ログインフォームのプレースホルダーに合わせてテストを更新
  frontend/src/tests/routes/Login.test.ts
Due: frontend-format, root-format

fix: LPページのナビゲーション重複を修正
  frontend/src/routes/+layout.svelte
Due: frontend-format

feat: パスワードリセット機能を実装
  backend/.sqlx/query-9b659bbac553fc857ecebf4b3177caee2f7109cab6b9ae10aa31bee1f6325a46.json
  backend/migrations/20250614050458_add_password_reset_tokens.sql
  backend/src/api/auth.rs
  backend/src/api/email.rs
  backend/src/api/mod.rs
  backend/src/database/mod.rs
  backend/src/database/password_reset.rs
  backend/src/database/users.rs
  backend/src/models/user.rs
  backend/src/services/auth_service.rs
  backend/src/services/campaign_service.rs
  backend/src/services/email_service.rs
  backend/src/services/sequence_service.rs
  frontend/src/routes/auth/forgot-password/+page.svelte
  frontend/src/routes/auth/reset-password/+page.svelte
Due: rust-fmt, rust-clippy, frontend-format, root-format

fix: Svelteの動的type属性とbind:valueの競合を修正
  backend/src/tests/services/email_service.rs
  frontend/src/routes/auth/reset-password/+page.svelte
Due: rust-fmt, rust-clippy, frontend-format

docs: サブスクリプション機能の計画をドキュメントに追加
  README.md
  ROADMAP.md
Due: root-format

feat: サブスクリプション機能を実装
  frontend/src/lib/services/subscriptionService.ts
  frontend/src/lib/types/subscription.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/subscription/+page.svelte
  frontend/src/routes/subscription/payment-history/+page.svelte
  frontend/src/tests/services/subscriptionService.test.ts
Due: frontend-format, root-format

feat: サブスクリプション機能の実装とテストを追加
  backend/.sqlx/query-01b54620f08179531eea7659fe3e71df7c9b08f53fe48dc66f480e55dc263077.json
  backend/.sqlx/query-028cbd2ed2899d08b70be3b8e8be4ef7e0cc10e1a2fa992d3a0dd3d704625259.json
  backend/.sqlx/query-0961b8c0721acdbbfd870506fe3b33d7816daff3ce57b8ded1f98e7872ced29f.json
  backend/.sqlx/query-19826d8e1172c5314e2169b7d1dabd12f7022ad8991a282ad10c62f3acd9bbd3.json
  backend/.sqlx/query-1f70da5fd7802d99157e0b0509db119153751e86ce382a9420efa7e4cc975335.json
  backend/.sqlx/query-2e1dcfb0c2017a28076aa94112779f690f3027f7f64e65ae82ce49a2d4c39e28.json
  backend/.sqlx/query-4746b1f7734e246cc7e9fde1d864e2e2c3eb4b7f836786c1e1ca123f2270c08d.json
  backend/.sqlx/query-4dbacc275de543b0d5f1eb2f20ac2243b33adf906145e0d4a06e8a51b08ea2a8.json
  backend/.sqlx/query-556bf74c9eb634bac293adde0539d80e3890856c4ba613b7fdc6dc55adadd9ad.json
  backend/.sqlx/query-635a762fba5bb3186ea5b3aa604a3fcc37bdae39bbf0eaf4dbfa958b7bec5b9f.json
  backend/.sqlx/query-69803979d109c2338ae18aaa0ff41eff92be68cb1d232beeff50df32c00d46c4.json
  backend/.sqlx/query-6d61ef5af62bc2f5b5345a6358bbdab3f74a5985fa2b9e701e7607d5aeab393b.json
  backend/.sqlx/query-711065ec14df20b3d256d1ddd852acd7416f4243033726d8937b3ac2b18b4e45.json
  backend/.sqlx/query-8dfcb02f7516e515761652307f00da0bdc323cbeb44046430c50c3d83146a7ec.json
  backend/.sqlx/query-9e6c2283ae5af678855a922a71ce78127fa71095159450138a6964f7ffeb9bb7.json
  backend/.sqlx/query-c0d4c5610c008aaf2ace930aef522d4d66b78776cc36c2780e46aae5e99b6db9.json
  backend/.sqlx/query-c49256eb21b3e320a3ac9defbf45f4e136aa5c191c41a5538186752912247275.json
  backend/.sqlx/query-e677fe21a1214ac89e1aeb5002e092743235a361142d7b39d121670397fcf83d.json
  backend/.sqlx/query-edce459c6b75d58154be32a43f17ab1551844a760ba0020f5d8fec32ab9de122.json
  backend/.sqlx/query-ef47c54bf86d2303f4d096ef4c4f65db124941d8b61e867971be73c44204e28a.json
  backend/.sqlx/query-fe5f5969354ecf26d63dae378ee8c765f1690620287d4e58c9d077a961278441.json
  backend/migrations/20250614073241_create_subscription_tables.sql
  backend/src/api/mod.rs
  backend/src/api/subscriptions.rs
  backend/src/database/mod.rs
  backend/src/database/subscriptions.rs
  backend/src/middleware/mod.rs
  backend/src/middleware/subscription_limit.rs
  backend/src/models/mod.rs
  backend/src/models/subscription.rs
  backend/src/services/email_service.rs
  backend/src/services/mod.rs
  backend/src/services/subscription_service.rs
  backend/src/tests/api/mod.rs
  backend/src/tests/api/subscriptions.rs
  backend/src/tests/services/mod.rs
  backend/src/tests/services/subscription_service.rs
Due: rust-fmt, rust-clippy, root-format

fix: テストの並列実行時の競合とコンパイル警告を修正
  backend/src/tests/api/subscriptions.rs
  backend/src/tests/services/email_service.rs
Due: rust-fmt, rust-clippy

chore: バックエンドテストをシングルスレッドで実行するように設定
  lefthook.yml
Due: root-format

fix: SQLxオフラインキャッシュを更新
  backend/.sqlx/query-eacfdca2f36aa29234861aa7cc95fdd2db58ada29fa1f7520d6f9bc3989d4830.json
  backend/.sqlx/query-fc900c2dae9c5d2f1e8d2355ab5525e174315ef1fddb974fb51effc750e272f0.json
Due: root-format
