Repository engineers-hub-ltd-in-house-project/markmail: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-format, root-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    # Rust フォーマット
    rust-fmt:
      glob: 'backend/**/*.rs'
      run: cd backend && cargo fmt
      stage_fixed: true

    # Rust リンター
    rust-clippy:
      glob: 'backend/**/*.rs'
      run: cd backend && cargo clippy -- -D warnings -A dead_code

    # フロントエンド フォーマット
    frontend-format:
      glob: 'frontend/**/*.{js,ts,svelte,json,css,md}'
      run: npx --yes prettier --write {staged_files}
      stage_fixed: true

    # フロントエンド リンター（警告のみ）
    frontend-lint:
      glob: 'frontend/**/*.{js,ts,svelte}'
      exclude: 'frontend/.svelte-kit/**/*'
      run: npx --yes eslint --config frontend/eslint.config.js --max-warnings 100 {staged_files} || true

    # ルートレベルファイル フォーマット
    root-format:
      glob: '*.{js,ts,json,md,yaml,yml}'
      run: npx --yes prettier --write {staged_files}
      stage_fixed: true

    # Infrastructure TypeScript フォーマット
    infrastructure-format:
      glob: 'infrastructure/**/*.{ts,js,json,md}'
      exclude: 'infrastructure/{node_modules,cdk.out,dist,coverage}/**/*'
      run: |
        files=$(echo {staged_files} | sed 's|infrastructure/||g')
        cd infrastructure && npx prettier --write $files
      stage_fixed: true

    # Infrastructure TypeScript リンター
    infrastructure-lint:
      glob: 'infrastructure/**/*.ts'
      exclude: 'infrastructure/{node_modules,cdk.out,dist,coverage}/**/*'
      run: |
        files=$(echo {staged_files} | sed 's|infrastructure/||g')
        cd infrastructure && npx eslint $files --fix
      stage_fixed: true

pre-push:
  commands:
    # プッシュ前のテスト実行
    backend-test:
      run: cd backend && cargo test

    frontend-test:
      run: cd frontend && npm run test -- --run

    infrastructure-test:
      run: cd infrastructure && npm test

commit-msg:
  commands:
    # コミットメッセージの検証（オプション）
    commitlint:
      run: echo "Commit message validation passed"

docs: Salesforce統合開発計画を追加
  docs/salesforce-integration-plan.md
Due: root-format

feat: Salesforce統合Phase 1 - 基盤実装
  CLAUDE.md
  backend/migrations/20250625110943_crm_integrations_foundation.sql
  backend/src/models/crm.rs
  backend/src/models/mod.rs
  backend/src/services/crm_service/mod.rs
  backend/src/services/crm_service/salesforce.rs
  backend/src/services/mod.rs
Due: rust-fmt, rust-clippy, root-format

feat: Salesforce integration Phase 2 - Authentication and API implementation
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/api/crm.rs
  backend/src/api/mod.rs
  backend/src/services/crm_service/mod.rs
  backend/src/services/crm_service/salesforce.rs
  backend/src/services/crm_service/salesforce_auth.rs
Due: rust-fmt, rust-clippy

feat: Salesforce integration Phase 3 - Database persistence and sync management
  backend/.sqlx/query-17b67aab72a89a1efe50e768b95e70e15e63c17f24fbaaf4d2fa0bc7a666903d.json
  backend/.sqlx/query-5f37fe69d978f7e405cd6853de4cb8861ce405f9567e7b9265ae7c4290d49b61.json
  backend/.sqlx/query-7346439420300bde7755b8f0c904ff8400d318f7395a20994067bf54540c6399.json
  backend/.sqlx/query-8d82a10c80de53d2921b19d815555a71ceabbd69f38f8a2813ea4cec1f9354a0.json
  backend/.sqlx/query-964e07c0875cc760382f332956dabd1d42e20d2f934c350a287ed33dd4e967e1.json
  backend/.sqlx/query-b534152e5dbfe025bb0a722a6f6e133aca42795f85822c4741c8ce133734f954.json
  backend/.sqlx/query-c6f383576517e420bf27f5b3973f5696d13f37ffddfb7e22f6af3988f2b30089.json
  backend/.sqlx/query-d994f717350b69650d6ced33c53cf37647b4473906b437a04b8ba1d6462b6711.json
  backend/.sqlx/query-dbe49fc8656f872bf78d4c6811313edc3960a7345045ee1baa967e9f6eb710b8.json
  backend/.sqlx/query-ef73e7d24504bae68a308326852e74972edde03545f20982c4e0f437ad8571e5.json
  backend/src/api/crm.rs
  backend/src/database/crm_integrations.rs
  backend/src/database/mod.rs
  backend/src/models/crm.rs
  backend/src/services/crm_service/mod.rs
Due: rust-fmt, rust-clippy, root-format

fix: test_email_config_from_envテストの環境変数名を修正
  backend/src/services/email_service.rs
Due: rust-fmt, rust-clippy

docs: Salesforce統合の実装状況追跡ドキュメントを追加、daily-reportsディレクトリを削除
  docs/salesforce-integration-status.md
Due: root-format

feat: Salesforce Bulk API 2.0実装と購読者同期機能の完成
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/api/crm.rs
  backend/src/api/mod.rs
  backend/src/models/crm.rs
  backend/src/services/crm_service/salesforce.rs
  crates/salesforce-bulk-api/Cargo.toml
  crates/salesforce-bulk-api/src/client.rs
  crates/salesforce-bulk-api/src/error.rs
  crates/salesforce-bulk-api/src/job.rs
  crates/salesforce-bulk-api/src/lib.rs
  crates/salesforce-bulk-api/src/models.rs
  crates/salesforce-bulk-api/src/tests.rs
  crates/salesforce-bulk-api/src/utils.rs
  docs/salesforce-contact-verification-ja.md
  docs/salesforce-integration-status.md
  docs/salesforce-setup-manual.md
  salesforce-metadata/objects/Contact/fields/MarkMail_ID__c.field-meta.xml
  salesforce-metadata/package.xml
  salesforce-metadata/profiles/Admin.profile-meta.xml
  sfdx-project.json
Due: rust-fmt, rust-clippy, root-format

feat: Salesforceリード自動作成機能の実装とカスタムフィールド権限問題の解決
  backend/src/api/forms.rs
  backend/src/models/crm.rs
  backend/src/services/crm_service/mod.rs
  backend/src/services/crm_service/salesforce.rs
  docs/salesforce/lead-custom-field-permission-issue-2025-07-28.md
  docs/salesforce/salesforce-contact-verification-ja.md
  docs/salesforce/salesforce-integration-plan.md
  docs/salesforce/salesforce-integration-status.md
  docs/salesforce/salesforce-setup-manual.md
  salesforce-metadata/coverage/coverage/coverage.json
  salesforce-metadata/createLeadFields.apex
  salesforce-metadata/objects/Lead/fields/MarkMail_Form_ID__c.field-meta.xml
  salesforce-metadata/objects/Lead/fields/MarkMail_Submission_ID__c.field-meta.xml
  salesforce-metadata/package.xml
  salesforce-metadata/setFieldPermissions.apex
  salesforce-metadata/sfdx-project.json
Due: rust-fmt, rust-clippy, root-format

feat: Salesforceリード自動作成機能の実装 - エンジニアスキルシートフォーム
  backend/src/models/crm.rs
  backend/src/services/crm_service/salesforce.rs
  docs/salesforce/engineer-skill-form-implementation-2025-07-29.md
  scripts/salesforce-integration/.env.example
  scripts/salesforce-integration/README.md
  scripts/salesforce-integration/check_field_permissions.py
  scripts/salesforce-integration/check_picklist_values.py
  scripts/salesforce-integration/create_markmail_form.py
  scripts/salesforce-integration/publish_form.py
  scripts/salesforce-integration/submit_form_test.py
  scripts/salesforce-integration/update_sf_token_docker.py
Due: rust-fmt, rust-clippy, root-format

fix: Salesforceクレートのパスをbackend/crates/に移動
  .gitignore
  backend/Cargo.toml
  backend/Dockerfile
  backend/crates/salesforce-bulk-api/Cargo.toml
  backend/crates/salesforce-bulk-api/src/client.rs
  backend/crates/salesforce-bulk-api/src/error.rs
  backend/crates/salesforce-bulk-api/src/job.rs
  backend/crates/salesforce-bulk-api/src/lib.rs
  backend/crates/salesforce-bulk-api/src/models.rs
  backend/crates/salesforce-bulk-api/src/tests.rs
  backend/crates/salesforce-bulk-api/src/utils.rs
  backend/src/ai/models/prompts.rs
  backend/src/ai/providers/openai.rs
  backend/src/ai/services/content_generator.rs
  backend/src/api/crm.rs
  backend/src/api/forms.rs
  backend/src/api/subscribers.rs
  backend/src/database/campaigns.rs
  backend/src/database/subscribers.rs
  backend/src/models/campaign.rs
  backend/src/models/crm.rs
  backend/src/services/campaign_service.rs
  backend/src/services/crm_service/salesforce.rs
  backend/src/services/crm_service/salesforce_auth.rs
  backend/src/services/email_service.rs
  backend/src/services/markdown_service.rs
  backend/src/services/sequence_service.rs
  backend/src/services/stripe_service.rs
  backend/src/tests/api/campaigns.rs
  backend/src/tests/api/forms.rs
  backend/src/tests/api/sequences.rs
  backend/src/tests/api/stripe_test.rs
  backend/src/tests/api/subscriptions.rs
  backend/src/tests/api/templates.rs
  backend/src/tests/services/email_service.rs
  backend/src/utils/validation.rs
Due: rust-fmt, rust-clippy

refactor: Salesforce連携スクリプトの再構成とAWSデプロイメント対応
  docs/salesforce/aws-deployment-setup-2025-07-30.md
  scripts/salesforce-integration/aws-deployment/README_AWS_DEPLOYMENT.md
  scripts/salesforce-integration/aws-deployment/create_salesforce_secret.sh
  scripts/salesforce-integration/aws-deployment/insert_crm_integration_rds.sh
  scripts/salesforce-integration/aws-deployment/insert_crm_integration_to_rds.sql
  scripts/salesforce-integration/aws-deployment/update_aws_secrets.sh
  scripts/salesforce-integration/form-management/create_markmail_form.py
  scripts/salesforce-integration/form-management/create_markmail_form_dev.py
  scripts/salesforce-integration/form-management/publish_form.py
  scripts/salesforce-integration/form-management/publish_form_dev.py
  scripts/salesforce-integration/testing/submit_form_test.py
  scripts/salesforce-integration/testing/submit_form_test_dev.py
  scripts/salesforce-integration/utilities/check_field_permissions.py
  scripts/salesforce-integration/utilities/check_picklist_values.py
  scripts/salesforce-integration/utilities/update_sf_token_docker.py
Due: root-format

fix: テンプレート変数名を実際の変数に修正
  frontend/src/routes/templates/[id]/edit/+page.svelte
  frontend/src/routes/templates/new/+page.svelte
Due: frontend-format

docs: Salesforce OAuth2実装のADRと技術仕様書を追加
  docs/salesforce/adr-001-salesforce-oauth2-implementation.md
  docs/salesforce/oauth2-implementation-spec.md
Due: root-format

feat: implement Salesforce OAuth2 authentication
  .sf/config.json
  .sfdx/sfdx-config.json
  backend/Cargo.lock
  backend/Cargo.toml
  backend/docs/salesforce/oauth2-setup-guide.md
  backend/docs/salesforce/oauth2-troubleshooting.md
  backend/migrations/20250802122153_salesforce_oauth_tokens.sql
  backend/refresh_sf_token.sh
  backend/src/api/crm_oauth.rs
  backend/src/api/crm_oauth_integration.rs
  backend/src/api/mod.rs
  backend/src/crm/mod.rs
  backend/src/crm/oauth/mod.rs
  backend/src/crm/oauth/salesforce_oauth.rs
  backend/src/crm/oauth/token_manager.rs
  backend/src/lib.rs
  backend/src/models/crm_oauth.rs
  backend/src/models/mod.rs
  backend/src/services/crm_service/mod.rs
  backend/src/services/crm_service/oauth_integration.rs
  backend/src/services/crm_service/oauth_provider.rs
  infrastructure/bin/infrastructure.ts
  infrastructure/lib/stacks/database-stack.ts
  infrastructure/lib/stacks/ecs-service-stack.ts
  scripts/salesforce-integration/testing/README.md
  scripts/salesforce-integration/testing/complete_oauth_callback.py
  scripts/salesforce-integration/testing/login_and_oauth.py
  scripts/salesforce-integration/testing/oauth2_flow.py
  scripts/salesforce-integration/testing/submit_form_test.py
  scripts/salesforce-integration/testing/test_oauth_curl.sh
Due: rust-fmt, rust-clippy, root-format

feat: Salesforce OAuth2認証の実装 (#40)
  .sf/config.json
  .sfdx/sfdx-config.json
  backend/Cargo.lock
  backend/Cargo.toml
  backend/docs/salesforce/oauth2-setup-guide.md
  backend/docs/salesforce/oauth2-troubleshooting.md
  backend/migrations/20250802122153_salesforce_oauth_tokens.sql
  backend/refresh_sf_token.sh
  backend/src/api/crm_oauth.rs
  backend/src/api/crm_oauth_integration.rs
  backend/src/api/mod.rs
  backend/src/crm/mod.rs
  backend/src/crm/oauth/mod.rs
  backend/src/crm/oauth/salesforce_oauth.rs
  backend/src/crm/oauth/token_manager.rs
  backend/src/lib.rs
  backend/src/models/crm_oauth.rs
  backend/src/models/mod.rs
  backend/src/services/crm_service/mod.rs
  backend/src/services/crm_service/oauth_integration.rs
  backend/src/services/crm_service/oauth_provider.rs
  docs/salesforce/adr-001-salesforce-oauth2-implementation.md
  docs/salesforce/oauth2-implementation-spec.md
  infrastructure/bin/infrastructure.ts
  infrastructure/lib/stacks/database-stack.ts
  infrastructure/lib/stacks/ecs-service-stack.ts
  scripts/salesforce-integration/testing/README.md
  scripts/salesforce-integration/testing/complete_oauth_callback.py
  scripts/salesforce-integration/testing/login_and_oauth.py
  scripts/salesforce-integration/testing/oauth2_flow.py
  scripts/salesforce-integration/testing/submit_form_test.py
  scripts/salesforce-integration/testing/test_oauth_curl.sh
Due: rust-fmt, rust-clippy, root-format

fix: SQLx offline cache for OAuth2 queries
  backend/.sqlx/query-2fc2182fdfab9615472d943a9d14af84410b82efd43734d042e8523ede3dda4b.json
  backend/.sqlx/query-3ed98c34d94c2c43725171d78051462d28b073273150d326b95cefab9378ee8b.json
  backend/.sqlx/query-6e3c0631dba01f9d3ccc42ee6557b7ffcc2e63566f41c34521f0c4e285b26df2.json
  backend/.sqlx/query-ae15c0f10ff54fda2ed391ac103fc171937596cd114765d0a63c2dcca25e3da0.json
  backend/.sqlx/query-ecebea01837a07ddc8ec7c60225d22f0c7bf23cb667655fae5a99a734e02d13b.json
  backend/.sqlx/query-f2593f7fdb7b363873970f209e1208f7d813b864c88aa26de8b0551441547ac9.json
Due: root-format

fix: SQLx offline cache for OAuth2 queries (#41)
  backend/.sqlx/query-2fc2182fdfab9615472d943a9d14af84410b82efd43734d042e8523ede3dda4b.json
  backend/.sqlx/query-3ed98c34d94c2c43725171d78051462d28b073273150d326b95cefab9378ee8b.json
  backend/.sqlx/query-6e3c0631dba01f9d3ccc42ee6557b7ffcc2e63566f41c34521f0c4e285b26df2.json
  backend/.sqlx/query-ae15c0f10ff54fda2ed391ac103fc171937596cd114765d0a63c2dcca25e3da0.json
  backend/.sqlx/query-ecebea01837a07ddc8ec7c60225d22f0c7bf23cb667655fae5a99a734e02d13b.json
  backend/.sqlx/query-f2593f7fdb7b363873970f209e1208f7d813b864c88aa26de8b0551441547ac9.json
Due: root-format

fix: Salesforce OAuth2 userinfo URLをインスタンスベースに修正
  backend/src/crm/oauth/salesforce_oauth.rs
  backend/src/models/crm_oauth.rs
  backend/src/services/crm_service/oauth_integration.rs
  backend/src/services/crm_service/oauth_provider.rs
Due: rust-fmt, rust-clippy

fix: Salesforceトークンレスポンスのinstance_url取得を修正
  backend/src/crm/oauth/salesforce_oauth.rs
Due: rust-fmt, rust-clippy

fix: トークンマネージャーでinstance_urlを正しく処理
  backend/src/crm/oauth/token_manager.rs
Due: rust-fmt, rust-clippy

fix: トークンマネージャーでinstance_urlを正しく処理 (#44)
  backend/src/crm/oauth/salesforce_oauth.rs
  backend/src/crm/oauth/token_manager.rs
Due: rust-fmt, rust-clippy

docs: organize Salesforce documentation and remove obsolete files
  docs/daily-reports/2025/06/2025-06-21-1809-ai-destruction-recovery.md
  docs/daily-reports/2025/06/2025-06-22-1055-ai-stripe-integration.md
  docs/daily-reports/2025/06/2025-06-22-1658-sequence-template-display.md
  docs/salesforce/01-authentication.md
  docs/salesforce/02-lead-management.md
  docs/salesforce/03-development-setup.md
  docs/salesforce/04-testing-tools.md
  docs/salesforce/05-aws-deployment.md
  docs/salesforce/06-troubleshooting.md
  docs/salesforce/07-architecture-decisions.md
  docs/salesforce/adr-001-salesforce-oauth2-implementation.md
  docs/salesforce/aws-deployment-setup-2025-07-30.md
  docs/salesforce/engineer-skill-form-implementation-2025-07-29.md
  docs/salesforce/index.md
  docs/salesforce/lead-custom-field-permission-issue-2025-07-28.md
  docs/salesforce/salesforce-integration-status.md
  docs/salesforce/salesforce-setup-manual.md
Due: root-format

chore: add cipher/MCP directories to .gitignore
  .gitignore
Due: none

chore: add cipher/MCP directories to .gitignore (#46)
  .gitignore
Due: none

feat: Kiro Spec-Driven Development導入とメール分析ダッシュボード仕様作成
  .claude/commands/kiro/implement-next.md
  .claude/commands/kiro/implement-phase.md
  .claude/commands/kiro/spec-design.md
  .claude/commands/kiro/spec-init.md
  .claude/commands/kiro/spec-requirements.md
  .claude/commands/kiro/spec-status.md
  .claude/commands/kiro/spec-tasks.md
  .claude/commands/kiro/steering-custom.md
  .claude/commands/kiro/steering.md
  .claude/commands/kiro/task-complete.md
  .claude/commands/ship.md
  .kiro/specs/email-analytics-dashboard/README.md
  .kiro/specs/email-analytics-dashboard/design.md
  .kiro/specs/email-analytics-dashboard/requirements.md
  .kiro/specs/email-analytics-dashboard/spec.json
  .kiro/specs/email-analytics-dashboard/tasks.md
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  CLAUDE.md
Due: root-format
