Repository engineers-hub-ltd-in-house-project/markmail: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-format, frontend-lint, root-format

rust-fmt:
  run: cd backend && cargo fmt
  stage_fixed: true

rust-clippy:
  run: cd backend && cargo clippy -- -D warnings

frontend-format:
  run: cd frontend && npx prettier --write {staged_files}
  stage_fixed: true

frontend-lint:
  run: cd frontend && npx eslint --fix {staged_files}
  stage_fixed: true

root-format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

fix: Vitestテスト環境のセットアップとESLint設定修正
  frontend/.svelte-kit/ambient.d.ts
  frontend/.svelte-kit/generated/server/internal.js
  frontend/.svelte-kit/types/src/routes/auth/$types.d.ts
  frontend/.svelte-kit/types/src/routes/campaigns/$types.d.ts
  frontend/.svelte-kit/types/src/routes/dashboard/$types.d.ts
  frontend/.svelte-kit/types/src/routes/templates/$types.d.ts
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/utils.test.ts
  frontend/src/setupTests.ts
  frontend/vite.config.js
  lefthook.yml
Due: frontend-format, frontend-lint, root-format

fix: Vitestテスト環境のセットアップとESLint設定修正
  frontend/.svelte-kit/ambient.d.ts
  frontend/.svelte-kit/generated/server/internal.js
  lefthook.yml
Due: frontend-format, frontend-lint, root-format

Add .svelte-kit/ to .gitignore and remove tracked files
  .gitignore
  frontend/.svelte-kit/ambient.d.ts
  frontend/.svelte-kit/generated/client/app.js
  frontend/.svelte-kit/generated/client/matchers.js
  frontend/.svelte-kit/generated/client/nodes/0.js
  frontend/.svelte-kit/generated/client/nodes/1.js
  frontend/.svelte-kit/generated/client/nodes/2.js
  frontend/.svelte-kit/generated/client/nodes/3.js
  frontend/.svelte-kit/generated/client/nodes/4.js
  frontend/.svelte-kit/generated/client/nodes/5.js
  frontend/.svelte-kit/generated/client/nodes/6.js
  frontend/.svelte-kit/generated/root.svelte
  frontend/.svelte-kit/generated/server/internal.js
  frontend/.svelte-kit/tsconfig.json
  frontend/.svelte-kit/types/route_meta_data.json
  frontend/.svelte-kit/types/src/routes/$types.d.ts
Due: frontend-format, frontend-lint, root-format

📊 システムアーキテクチャ図を追加: docs/architecture.svg, README.mdにアーキテクチャセクション追加
  .vscode/settings.json
  README.md
  docs/architecture.svg
Due: root-format

🔧 SVGアーキテクチャ図の表示方法を改善: HTMLタグを使用
  README.md
Due: root-format

🎨 軽量SVGアーキテクチャ図追加とフォールバック対応: 3種類の表示方法で確実な閲覧を実現
  README.md
  docs/architecture-simple.svg
Due: root-format

feat: 認証システムの実装とドキュメント更新
  README.md
  backend/Cargo.lock
  backend/Cargo.toml
  backend/migrations/20250602114205_create_users_table.sql
  backend/migrations/20250602114236_create_refresh_tokens_table.sql
  backend/src/api/auth.rs
  backend/src/api/campaigns.rs
  backend/src/api/integrations.rs
  backend/src/api/markdown.rs
  backend/src/api/mod.rs
  backend/src/api/subscribers.rs
  backend/src/api/templates.rs
  backend/src/api/users.rs
  backend/src/database/mod.rs
  backend/src/database/refresh_tokens.rs
  backend/src/database/users.rs
  backend/src/middleware/auth.rs
  backend/src/models/template.rs
  backend/src/services/auth_service.rs
  backend/src/utils/jwt.rs
  backend/src/utils/mod.rs
  backend/src/utils/password.rs
  env.example
Due: rust-fmt, rust-clippy, root-format

docs: README.mdを最新の実装状況に更新
  README.md
Due: root-format

feat: テンプレート管理機能のバックエンド実装完了 - CRUD API、マークダウン変換、変数システム、プレビュー機能、API動作確認、README更新
  README.md
  backend/Cargo.lock
  backend/Cargo.toml
  backend/migrations/20250603113821_create_templates_table.sql
  backend/src/api/markdown.rs
  backend/src/api/templates.rs
  backend/src/database/mod.rs
  backend/src/database/templates.rs
  backend/src/models/template.rs
  backend/src/services/markdown_service.rs
Due: rust-fmt, rust-clippy, root-format

docs: READMEの表現を修正し外部システム連携計画を追加 - 「完全」等の不適切な表現を削除、Salesforceインテグレーション等の計画追加
  README.md
Due: root-format

テンプレート管理機能のフロントエンド実装 - 型定義、一覧・作成画面、マークダウンエディター、プリプロセッサ設定、ESLintグローバル変数修正、prettier-plugin-svelte追加
  .prettierrc
  README.md
  frontend/.prettierrc
  frontend/eslint.config.js
  frontend/src/lib/types/template.ts
  frontend/src/routes/templates/+page.svelte
  frontend/src/routes/templates/new/+page.svelte
  frontend/svelte.config.js
  package-lock.json
  package.json
Due: frontend-format, frontend-lint, root-format

refactor: Clippy警告の修正とリンターの設定改善
  README.md
  backend/Cargo.toml
  backend/migrations/20250607094209_create_campaigns_table.sql
  backend/src/api/auth.rs
  backend/src/api/campaigns.rs
  backend/src/api/mod.rs
  backend/src/database/campaigns.rs
  backend/src/database/connection.rs
  backend/src/database/mod.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/models/campaign.rs
  backend/src/services/auth_service.rs
  backend/src/services/campaign_service.rs
  backend/src/services/markdown_service.rs
  backend/src/services/mod.rs
  backend/src/tests/api/campaigns.rs
  backend/src/tests/api/mod.rs
  backend/src/tests/api/templates.rs
  backend/src/tests/mod.rs
  backend/src/utils/config.rs
  backend/src/utils/jwt.rs
  backend/src/utils/validation.rs
  lefthook.yml
Due: rust-fmt, rust-clippy, root-format

fix: テスト依存関係とmockallの設定追加
  backend/Cargo.toml
  backend/src/services/campaign_service.rs
Due: rust-fmt, rust-clippy

ci: 一時的にテストスキップ設定を追加
  lefthook.yml
Due: root-format

test: テスト環境の一時的な修正
  backend/src/lib.rs
  backend/src/services/campaign_service.rs
  backend/src/tests/api/templates.rs
  backend/src/tests/mod.rs
  frontend/package.json
Due: rust-fmt, rust-clippy, root-format

feat: フロントエンド認証機能とテンプレート管理機能の実装
  .gitignore
  backend/Cargo.lock
  backend/src/tests/api/campaigns.rs
  backend/src/tests/api/templates.rs
  backend/src/tests/mod.rs
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/lib/services/api.ts
  frontend/src/lib/stores/authStore.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/auth/login/+page.svelte
  frontend/src/routes/auth/register/+page.svelte
  frontend/src/routes/templates/+page.svelte
  frontend/src/routes/templates/[id]/+page.svelte
  frontend/src/routes/templates/[id]/edit/+page.svelte
  frontend/src/routes/templates/new/+page.svelte
  frontend/src/setupTests.ts
  frontend/src/tests/components/TemplateEdit.test.ts
  frontend/src/tests/components/TemplateView.test.ts
  frontend/src/tests/routes/Login.test.ts
  frontend/src/tests/services/api.test.ts
  frontend/src/tests/utils/authStore.test.ts
  frontend/src/tests/utils/templateUtils.test.ts
  frontend/vite.config.js
  lefthook.yml
  scripts/run-tests.sh
Due: rust-fmt, rust-clippy, frontend-format, frontend-lint, root-format

chore: テスト実行の一時的な無効化（開発促進のため）
  lefthook.yml
Due: root-format

fix: テスト環境を修正 - バックエンドのミドルウェア実装追加、JWTトークンタイプ追加、テンプレートテスト修正、フロントエンドテスト依存関係追加
  backend/src/api/auth.rs
  backend/src/middleware/cors.rs
  backend/src/middleware/logging.rs
  backend/src/services/auth_service.rs
  backend/src/tests/api/templates.rs
  backend/src/utils/jwt.rs
  frontend/package.json
Due: rust-fmt, rust-clippy, root-format

docs: 開発規約を追加・READMEを更新 - テスト条件緩和禁止の明示的な指示追加
  DEVELOPMENT.md
  README.md
Due: root-format

fix: pre-pushフックのテスト実行を再有効化
  lefthook.yml
Due: root-format

feat: API モジュールにルーター関数を追加してテストを修正
  DEVELOPMENT.md
  backend/src/api/campaigns.rs
  backend/src/api/integrations.rs
  backend/src/api/markdown.rs
  backend/src/api/subscribers.rs
  backend/src/api/templates.rs
  backend/src/api/users.rs
  backend/src/lib.rs
  backend/src/models/template.rs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/stores/authStore.ts
Due: rust-fmt, rust-clippy, frontend-format, frontend-lint, root-format

feat: 購読者管理機能のフロントエンド実装
  README.md
  frontend/src/lib/services/subscriberService.ts
  frontend/src/lib/types/subscriber.ts
  frontend/src/routes/subscribers/+page.svelte
  frontend/src/routes/subscribers/[id]/+page.svelte
  frontend/src/routes/subscribers/[id]/edit/+page.svelte
  frontend/src/routes/subscribers/import/+page.svelte
  frontend/src/routes/subscribers/new/+page.svelte
Due: frontend-format, frontend-lint, root-format

feat: キャンペーン管理機能のフロントエンド実装
  frontend/src/lib/services/campaignService.ts
  frontend/src/lib/types/campaign.ts
  frontend/src/routes/campaigns/+page.svelte
  frontend/src/routes/campaigns/[id]/+page.svelte
  frontend/src/routes/campaigns/[id]/edit/+page.svelte
  frontend/src/routes/campaigns/new/+page.svelte
Due: frontend-format, frontend-lint, root-format

fix: キャンペーン作成・編集画面のテンプレート取得エラーを修正
  frontend/src/routes/campaigns/[id]/edit/+page.svelte
  frontend/src/routes/campaigns/new/+page.svelte
Due: frontend-format, frontend-lint

fix: キャンペーン作成エラーの修正と購読者管理機能の実装
  backend/Cargo.lock
  backend/Cargo.toml
  backend/Dockerfile.dev
  backend/migrations/20250607033707_alter_campaigns_status_to_text.sql
  backend/migrations/20250607120000_create_subscribers_table.sql
  backend/src/api/mod.rs
  backend/src/api/subscribers.rs
  backend/src/database/connection.rs
  backend/src/database/mod.rs
  backend/src/database/subscribers.rs
  backend/src/lib.rs
  backend/src/models/subscriber.rs
  backend/src/services/auth_service.rs
  backend/src/services/mod.rs
  backend/src/services/subscriber_service.rs
  backend/src/tests/api/campaigns.rs
  backend/src/tests/api/templates.rs
Due: rust-fmt, rust-clippy

fix: 購読者タグ取得APIエンドポイントの追加と一覧レスポンスの修正
  backend/src/api/subscribers.rs
  frontend/src/lib/types/subscriber.ts
Due: rust-fmt, rust-clippy, frontend-format, frontend-lint, root-format

fix: フロントエンドの型定義エラーを修正
  frontend/src/lib/types/subscriber.ts
Due: frontend-format, frontend-lint, root-format

fix: フロントエンドテストの修正
  frontend/src/lib/types/subscriber.ts
  frontend/src/tests/components/TemplateEdit.test.ts
  frontend/src/tests/routes/Login.test.ts
  frontend/src/tests/utils/authStore.test.ts
Due: frontend-format, frontend-lint, root-format

fix: フロントエンドテストの追加修正
  frontend/src/tests/components/TemplateEdit.test.ts
  frontend/src/tests/routes/Login.test.ts
Due: frontend-format, frontend-lint, root-format

fix: キャンペーン削除時のデータベースクエリエラーを修正
  backend/src/database/campaigns.rs
  backend/src/tests/api/campaigns.rs
  frontend/src/tests/components/TemplateEdit.test.ts
Due: rust-fmt, rust-clippy, frontend-format, frontend-lint, root-format

feat: メール送信機能の実装とフロントエンド統合
  README.md
  backend/Cargo.lock
  backend/Cargo.toml
  backend/run-dev.sh
  backend/src/api/campaigns.rs
  backend/src/api/email.rs
  backend/src/api/mod.rs
  backend/src/database/subscribers.rs
  backend/src/models/subscriber.rs
  backend/src/services/campaign_service.rs
  backend/src/services/email_service.rs
  backend/src/services/subscriber_service.rs
  backend/src/tests/mod.rs
  backend/src/tests/services/email_service.rs
  backend/src/tests/services/mod.rs
  backend/test_campaign_send.sh
  backend/test_email.sh
  env.example
  frontend/src/lib/services/campaignService.ts
  frontend/src/lib/types/campaign.ts
  frontend/src/routes/campaigns/[id]/+page.svelte
Due: rust-fmt, rust-clippy, frontend-format, frontend-lint, root-format

feat: AWS SES メール送信機能の本番対応とインフラストラクチャ構築
  README.md
  backend/infrastructure/package.json
  backend/src/services/email_service.rs
  infrastructure/.env.example
  infrastructure/.gitignore
  infrastructure/README.md
  infrastructure/SETUP_GUIDE.md
  infrastructure/bin/infrastructure.ts
  infrastructure/cdk.json
  infrastructure/deploy.sh
  infrastructure/deploy.sh.bak
  infrastructure/lib/infrastructure-stack.ts
  infrastructure/package-lock.json
  infrastructure/package.json
  infrastructure/setup-aws-profile.sh
  infrastructure/tsconfig.json
Due: rust-fmt, rust-clippy, root-format

feat: ランディングページの実装
  frontend/src/routes/+page.svelte
  frontend/src/routes/auth/login/+page.svelte
  frontend/src/routes/lp/+page.svelte
  frontend/src/tests/components/TemplateEdit.test.ts
  frontend/src/tests/components/TemplateView.test.ts
  frontend/src/tests/routes/Login.test.ts
Due: frontend-format, frontend-lint, root-format

docs: README.mdを現在の進捗に合わせて更新
  README.md
  infrastructure/README.md
Due: root-format

feat: Route 53サブドメイン委譲とSSL証明書の実装
  infrastructure/bin/infrastructure.ts
  infrastructure/lib/stacks/alb-stack.ts
  infrastructure/lib/stacks/route53-stack.ts
  infrastructure/setup-dev-domain.sh
  infrastructure/setup-domain.md
  infrastructure/setup-prod-domain.sh
  infrastructure/squarespace-delegation-guide.md
Due: root-format

fix: CI/CDパイプラインのブランチ設定をdevに変更
  infrastructure/GITHUB_CONNECTION_SETUP.md
  infrastructure/bin/infrastructure.ts
Due: root-format

fix: CodeBuildでimagedefinitions.jsonを正しいパスに生成
  infrastructure/lib/stacks/cicd-stack.ts
Due: root-format

Path conditions:
  rust-fmt: any of: backend/**/*.rs
  rust-clippy: any of: backend/**/*.rs
  frontend-format: any of: frontend/**/*.{js,ts,svelte,json,css,md}
  frontend-lint: any of: frontend/**/*.{js,ts,svelte}
  root-format: any of: *.{js,ts,json,md,yaml,yml}
