Repository engineers-hub-ltd-in-house-project/markmail: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-format, root-format

rust-fmt:
  run: cd backend && cargo fmt
  stage_fixed: true

rust-clippy:
  run: cd backend && cargo clippy -- -D warnings -A dead_code

frontend-format:
  run: npx --yes prettier --write {staged_files}
  stage_fixed: true

root-format:
  run: npx --yes prettier --write {staged_files}
  stage_fixed: true

feat: CodeBuildにDocker Hub認証を追加してrate limit問題を解決
  infrastructure/README.md
  infrastructure/lib/stacks/cicd-stack.ts
  scripts/setup-dockerhub-secret.sh
Due: root-format

feat: AI機能の要件定義とロードマップを追加
  README.md
  REQUIREMENTS.md
  ROADMAP.md
Due: root-format

feat: AI機能のバックエンド実装
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/ai/mod.rs
  backend/src/ai/models/ai_responses.rs
  backend/src/ai/models/mod.rs
  backend/src/ai/models/prompts.rs
  backend/src/ai/providers/anthropic.rs
  backend/src/ai/providers/mod.rs
  backend/src/ai/providers/openai.rs
  backend/src/ai/services/content_generator.rs
  backend/src/ai/services/mod.rs
  backend/src/ai/services/scenario_builder.rs
  backend/src/api/ai.rs
  backend/src/api/mod.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/tests/api/ai_test.rs
  backend/src/tests/api/mod.rs
  env.example
Due: rust-fmt, rust-clippy

docs: AI機能実装の進捗をPROGRESS.mdに記録
  PROGRESS.md
Due: root-format

fix: AIシナリオ生成機能の修正と改善
  backend/src/ai/models/prompts.rs
  backend/src/api/ai.rs
  backend/watch.sh
  frontend/src/lib/services/aiService.ts
  frontend/src/lib/types/ai.ts
  frontend/src/routes/ai/+page.js
  frontend/src/routes/ai/+page.svelte
  frontend/src/routes/ai/content/+page.js
  frontend/src/routes/ai/content/new/+page.js
  frontend/src/routes/ai/content/new/+page.svelte
  frontend/src/routes/ai/scenarios/+page.js
  frontend/src/routes/ai/scenarios/new/+page.js
  frontend/src/routes/ai/scenarios/new/+page.svelte
  frontend/src/routes/ai/subject-optimizer/+page.js
  frontend/src/routes/ai/subject-optimizer/+page.svelte
Due: rust-fmt, rust-clippy, frontend-format, root-format

feat: ランディングページにAI機能を大きくアピール
  CLAUDE.md
  README.md
  frontend/src/routes/+layout.svelte
  frontend/src/routes/lp/+page.svelte
Due: frontend-format, root-format

fix: AWS Secrets Manager統合とドキュメント改善
  CLAUDE.md
  infrastructure/README.md
  infrastructure/bin/infrastructure.ts
  infrastructure/lib/stacks/alb-stack.ts
  infrastructure/lib/stacks/database-stack.ts
  infrastructure/lib/stacks/ecs-service-stack.ts
Due: root-format

docs: AI機能の多言語対応計画とクリーンアップ
  README.md
  REQUIREMENTS.md
  ROADMAP.md
  backend/run-dev.sh
  backend/test_campaign_send.sh
  backend/test_email.sh
Due: root-format

feat: AI機能の多言語対応を実装
  backend/src/ai/models/ai_responses.rs
  backend/src/ai/models/mod.rs
  backend/src/ai/models/prompts.rs
  backend/src/ai/models/prompts/tests.rs
  backend/src/ai/models/tests.rs
  backend/src/ai/services/content_generator.rs
  backend/src/ai/services/scenario_builder.rs
  backend/src/tests/api/ai_test.rs
  frontend/src/lib/types/ai.ts
  frontend/src/routes/ai/content/new/+page.svelte
  frontend/src/routes/ai/scenarios/new/+page.svelte
  frontend/src/routes/ai/subject-optimizer/+page.svelte
Due: rust-fmt, rust-clippy, frontend-format, root-format

fix: AI日本語出力の明示的な指示を追加
  backend/src/ai/models/prompts.rs
  backend/src/ai/services/content_generator.rs
  backend/src/ai/services/scenario_builder.rs
Due: rust-fmt, rust-clippy

feat: Claude Code用のshipカスタムコマンドを追加
  .claude/commands/ship.md
Due: root-format

Add test dummy file for PR creation
  test_dummy_file.md
Due: root-format

feat: Stripeサブスクリプション機能のバックエンド実装
  CLAUDE.md
  backend/.env.example
  backend/.sqlx/query-27209affca79ca24e1ac26327cca199bef32006d158fbc85e19ea86604e782eb.json
  backend/.sqlx/query-5260decd5c921f02a60b928a01310abd03edd973a4e3498a6f991152e0b6c7ab.json
  backend/.sqlx/query-8af45a45bb804d4455d393738a27067edefa13820754a3a0ea1173e9ae327c89.json
  backend/.sqlx/query-96ab19f78a477b5023c6afcfd266a9c878b912903040cb6ae7f5651fe2084d85.json
  backend/.sqlx/query-e7996c75efe4ad1600985a55840a6bc5c1eac7aca66243ff1b1279e350d60950.json
  backend/Cargo.lock
  backend/Cargo.toml
  backend/migrations/20250619101822_add_stripe_customer_id_to_users.sql
  backend/migrations/20250619102350_add_stripe_price_id_to_plans.sql
  backend/src/api/mod.rs
  backend/src/api/stripe_webhook.rs
  backend/src/api/subscriptions.rs
  backend/src/database/subscriptions.rs
  backend/src/database/users.rs
  backend/src/models/subscription.rs
  backend/src/services/mod.rs
  backend/src/services/stripe_service.rs
  backend/src/tests/api/mod.rs
  backend/src/tests/api/stripe_test.rs
Due: rust-fmt, rust-clippy, root-format

feat: Stripe Checkoutフロントエンド統合
  backend/src/api/subscriptions.rs
  frontend/src/lib/services/subscriptionService.ts
  frontend/src/routes/+layout.svelte
  frontend/src/routes/subscriptions/+page.svelte
  frontend/src/routes/subscriptions/payment-history/+page.svelte
Due: rust-fmt, rust-clippy, frontend-format, root-format

feat: Stripe決済機能のセットアップとテスト手順のドキュメント化
  backend/src/api/stripe_webhook.rs
  backend/src/services/stripe_service.rs
  docs/stripe-payment-setup.md
  frontend/src/routes/subscriptions/cancel/+page.svelte
  frontend/src/routes/subscriptions/success/+page.svelte
Due: rust-fmt, rust-clippy, frontend-format, root-format

feat: サブスクリプションプランの見直しとAI機能制限の追加
  README.md
  REQUIREMENTS.md
  ROADMAP.md
Due: root-format

feat: AIシナリオから実際のエンティティを生成する機能を実装
  backend/src/api/ai.rs
  backend/src/api/mod.rs
  backend/src/services/mod.rs
  backend/src/services/scenario_implementation_service.rs
  backend/src/tests/services/mod.rs
  backend/src/tests/services/scenario_implementation_test.rs
Due: rust-fmt, rust-clippy

docs: 2025-06-20 2308 デイリーレポート - AIシナリオ実装機能
  docs/daily-reports/2025/06/2025-06-20-2308-ai-scenario-implementation.md
Due: root-format

docs: CLAUDE.mdに重要な開発指針を追加
  CLAUDE.md
Due: root-format

fix: バックエンドの復旧とマイグレーション整合性の修正
  CLAUDE.md
  backend/.sqlx/query-01f38ef11efcff00b1b68098939ed1c8529398c701c6e574eb6dd114e3f65eaf.json
  backend/.sqlx/query-0b5d3afcc68e7f4b4ddb933e433586ff832e7269082a94b9d55efeb6b7ba3c94.json
  backend/.sqlx/query-1e58567ec3d5eaeb4d7fef40f1cbf0621ce39962e6c26d4df0320b8d5192728c.json
  backend/.sqlx/query-205c7e6973351deadfa2249055f70b591681641e303849bc07cacd79c93e47fa.json
  backend/.sqlx/query-26706f6a35cac187c92e4938d6ee0cc78f573d87acd9861450f0129c34a84e56.json
  backend/.sqlx/query-3adee939a6919f07ae675e62bd1a02f3e8d2408956105788e303c0839e72554e.json
  backend/.sqlx/query-3d175015878c5913337a9e4680c7c19643bb0599ec5b4c695810c85eba4d99e1.json
  backend/.sqlx/query-49130a48f0732cc616e11024f9364a2f37677505414912e92fee77f470592e11.json
  backend/.sqlx/query-4fa8ea454f8513a3c103b76e73ec6aa4429e4e461070c0b17941811002740877.json
  backend/.sqlx/query-62e50b855efc0c7f670c05d3b81af2674a05a70f8c45b53872c93b2d23422624.json
  backend/.sqlx/query-63b81eda7fafb36e2a1079c0d76a773cc587c4c6d1183b6a5935c484702d5865.json
  backend/.sqlx/query-691340b0ca1e75145df0f76d71de496c4269ab593ac678415ca336b79cb6e5c0.json
  backend/.sqlx/query-704798a3a113553522e2362b6c6571a3adb0d58b0b9ba26abf59b2508c56a010.json
  backend/.sqlx/query-711065ec14df20b3d256d1ddd852acd7416f4243033726d8937b3ac2b18b4e45.json
  backend/.sqlx/query-76b97e978eafb761e83d2bf398616b4ec6e66f3a6f4d68ef260573fb9ce938d5.json
  backend/.sqlx/query-b1b1c76a25c57b49b9e78f6f286a32bbf57735867192d623f5ce4f02be4a8883.json
  backend/.sqlx/query-c102a22d98dc36a4ece77cbd475ccf817efb3469d5eab05d6125e5c98dd8cf30.json
  backend/.sqlx/query-e62adf63944b965791ed16820bba7a6c4c896b70e49711ffc7d7e6793029669e.json
  backend/.sqlx/query-fc900c2dae9c5d2f1e8d2355ab5525e174315ef1fddb974fb51effc750e272f0.json
  backend/.sqlx/query-fd38ac0d3bdf12772c0670862f04fe5e1c5a707379cf478b74673195565a3114.json
  backend/src/database/subscriptions.rs
Due: rust-fmt, rust-clippy, root-format

fix: AIによる破壊を完全に修復し、責任逃れを防ぐ指示を追加
  CLAUDE.md
Due: root-format

docs: 2025-06-21 1809 デイリーレポート - AI起因破壊からの復旧
  docs/daily-reports/2025/06/2025-06-21-1809-ai-destruction-recovery.md
Due: root-format

feat: AI使用量トラッキング機能を実装
  backend/.sqlx/query-150a84d9a1a15e81365d638257623d7784c5ab4d584090071d56044dcec7d05a.json
  backend/.sqlx/query-27001565b96d5a4ffee09d2fb86c8c784bd780f29b1239ea2509ab58bac32412.json
  backend/.sqlx/query-847ebfe06b73c82bcc0eca5efbfab26dfce6a9f54ff3982c2ec276902592f65b.json
  backend/.sqlx/query-a136fdaef11ada3e44a1e775671850769d79f61543820b9133677e9bf066b50c.json
  backend/.sqlx/query-b73e7c7c679bc2f1d584e087fa9a1672d4dc87e339ca6f634195d8e9ab975caa.json
  backend/.sqlx/query-eaa6992db2ebeeba10f67037e4833f45f6b8dfbe0f52eb2b2ceb828eb653d65f.json
  backend/migrations/20250621093936_add_ai_usage_logs_table.sql
  backend/migrations/20250621094912_add_ai_limits_to_subscription_plans.sql
  backend/src/api/ai.rs
  backend/src/api/ai_usage.rs
  backend/src/api/mod.rs
  backend/src/database/subscriptions.rs
  backend/src/models/ai_usage.rs
  backend/src/models/mod.rs
  backend/src/models/subscription.rs
  backend/src/services/ai_usage_service.rs
  backend/src/services/mod.rs
Due: rust-fmt, rust-clippy, root-format

feat: サブスクリプション画面にAI使用量表示を追加
  frontend/src/lib/services/subscriptionService.ts
  frontend/src/lib/types/subscription.ts
  frontend/src/routes/subscriptions/+page.svelte
Due: frontend-format, root-format

feat: AIシナリオ生成結果を実際のシステムに反映する機能を実装
  frontend/src/routes/ai/scenarios/new/+page.svelte
Due: frontend-format

feat: AWS環境でのStripe決済機能を完全統合
  docs/stripe-payment-setup.md
  infrastructure/bin/infrastructure.ts
  infrastructure/lib/stacks/cicd-stack.ts
  infrastructure/lib/stacks/database-stack.ts
  infrastructure/lib/stacks/ecs-cluster-stack.ts
  infrastructure/lib/stacks/ecs-service-stack.ts
Due: root-format

docs: 2025-06-22 1055 デイリーレポート - AI機能とStripe決済の完全統合
  docs/daily-reports/2025/06/2025-06-22-1055-ai-stripe-integration.md
Due: root-format

feat: キャンペーンのエラーハンドリングと送信前検証機能を追加
  backend/migrations/20250622063911_add_error_status_to_campaigns.sql
  backend/src/api/campaigns.rs
  backend/src/api/mod.rs
  backend/src/api/templates.rs
  backend/src/models/campaign.rs
  backend/src/models/template.rs
  backend/src/services/campaign_service.rs
  backend/src/services/sequence_service.rs
  frontend/src/lib/services/campaignService.ts
  frontend/src/lib/types/campaign.ts
  frontend/src/routes/campaigns/[id]/+page.svelte
Due: rust-fmt, rust-clippy, frontend-format, root-format

feat: シーケンス詳細画面でテンプレート情報を表示
  backend/src/api/sequences.rs
  backend/src/database/sequences.rs
  backend/src/models/sequence.rs
  backend/src/models/template.rs
  backend/src/tests/api/sequences.rs
  frontend/src/lib/services/sequenceService.ts
  frontend/src/lib/types/sequence.ts
  frontend/src/routes/sequences/[id]/+page.svelte
Due: rust-fmt, rust-clippy, frontend-format, root-format

docs: 2025-06-22 1658 デイリーレポート - シーケンステンプレート表示機能
  docs/daily-reports/2025/06/2025-06-22-1658-sequence-template-display.md
Due: root-format

feat: シーケンス詳細画面からテンプレート編集画面への遷移機能を追加
  CLAUDE.md
  frontend/src/routes/sequences/[id]/+page.svelte
Due: frontend-format, root-format

feat: シーケンス削除時に関連するフォームとテンプレートも削除する機能を追加
  backend/src/database/sequences.rs
  backend/src/database/templates.rs
  frontend/src/routes/sequences/+page.svelte
Due: rust-fmt, rust-clippy, frontend-format

chore: SQLxオフラインキャッシュを更新
  backend/.sqlx/query-1dd6cd3f074defc8ee1f9d1a71827001e44e16d20696b9769e58af6510127357.json
  backend/.sqlx/query-9af4089e57ea21ec5f630690c99b235be8495c9cc6444c732379e0cdf253e969.json
  backend/.sqlx/query-b26944c633ec8284a575c9cf9a4f212a9e9839ba861f34aaf32d4310ea2c3d44.json
  backend/.sqlx/query-b666312cb0077acd360d630bab951410aa8d83aece317a3ea9ffa0f6d0daa5a9.json
Due: root-format

docs: SQLxオフラインキャッシュ更新手順をCLAUDE.mdに追記
  CLAUDE.md
Due: root-format

fix: OpenAI APIのタイムアウトを180秒に延長
  backend/src/api/ai.rs
Due: rust-fmt, rust-clippy

docs: Update CLAUDE.md with MANDATORY rules and English translation
  CLAUDE.md
Due: root-format

chore: ドキュメントの整理とディレクトリ構造の改善
  DEVELOPMENT.md
  PROGRESS.md
  docs/REQUIREMENTS.md
Due: root-format

fix: README.mdの壊れたDEVELOPMENT.mdリンクを修正
  README.md
Due: root-format

chore: ROADMAP.mdを削除
  README.md
  ROADMAP.md
Due: root-format

Path conditions:
  rust-fmt: any of: backend/**/*.rs
  rust-clippy: any of: backend/**/*.rs
  frontend-format: any of: frontend/**/*.{js,ts,svelte,json,css,md}
  root-format: any of: *.{js,ts,json,md,yaml,yml}
